@charset "utf-8";

* {
    font-family : "MS Gothic", sans-serif;
}

body {
    margin: 0;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

.back {

    background-color: #efefef;
    width: 100%;
    min-height: 100vh;
}

input {
    background-color: #fff;
}

textarea {
    background-color: #fff;
    min-width:700px;
    min-height :150px;  
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    height: 50px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
footer {
    height: 50px;
    border-top: 1px solid #000;
    margin-top: 20px;
}