@charset "utf-8";

.back {
    background-color: #efefef;
    width: 100%;
    min-height: 100vh;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

input {
    background-color: #fff;
}
textarea {
    background-color: #fff;
}